/* section one */
.career-container {
  width: 100%;
}
.img-career-container {
  width: 100%;
}
#bannerTextcareer {
  width: 100%;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  line-height: 1.19;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: black 2px 5px 16px;
  color: #fff;
  font-weight: 650;
  font-size: 53px;
}
/* section two */
.description-of-careers {
  width: 100%;
  margin-top: 8%;
}
.des_pera {
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* section three */
.crau_heading {
  width: 100%;
  margin-top: 6%;
}
.crau_p {
  text-align: center;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 650;
  opacity: 0.8;
}
/* section four */
.tab-container{
  width:100%;
  overflow:hidden ;
  white-space: nowrap;
  position: relative;
}

.tab-container{
  width: 500px;
  margin: 0 auto;
  position: relative;
}
  .tab-list{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tab-item{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 30%;
   

  }
 .tab-item:hover{
  background-color: #00bfa5;
 } 
  /* .tab-item.active{
    background-color: #ccc;
  } */
  .tab-content{
    position: relative;
    height: 1000px;
    width: 100%;
  }
  
   .tab-panel{
    display: none;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
   }
  
  .tab-panel.active{
    display: block;
  }
  
  .scroll-button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3) ;
    cursor: pointer;
    z-index: 1;
  }
  
  .scroll-button:hover{
    background-color: #ccc;
  }
  
  .scroll-left{
    left: 0;
    /* background-image: url('https://www.downloadclipart.net/large/left-arrow-png-file.png') ; */
    content: "\f054";
    background-size: cover;
  }
  
  .scroll-right{
    right: 0;
    /* background-image:url('https://cdn1.iconfinder.com/data/icons/basic-arrow/512/Artboard_21-512.png') ; */
    background-size: cover;
    content: "\f054";
  }
  
  
  
.designators {
  width: 100%;
}
.ul_of_designators {
  display: flex;
  background-color: #c5cae9;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50px;
  height: 60px;
  text-align: center;
  justify-content: space-between;
  width: 80%;
}
.p_of_designators {
  text-decoration: none;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.li_of_designators {
  list-style: none;
}
/* part one */
.engineers {
  margin-top: 5%;
  margin-left: 12%;
}
.resp_duties_h {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 650;
  opacity: 0.9;
}
.resp_duties_pera {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: -2%;
  font-weight: 400;
  line-height: 1.7;
}
.resp_duties_add {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  line-height: 1.7;
}
/* part two */
.resp_duties_summ {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}
/* section five */
/* application -form css  */
.btn-of-careers{
  padding-top: 10%;
  padding-bottom: 10%;
}
.form-start {
  /* background-color: #00bfa5;
  height:380px;
  width: 700px; */
  padding: 30px;
    font-family: Avenir_book;
    background: #00bfa5f5;
    color: #fff;
    position: relative; 
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal_content{
  position: relative;
    display: flex;
    flex-direction: column;
    width: 43%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    margin-left: 30%;
    margin-top: -47%;
}
.modal_header{
text-align: center;
}
h4{
  text-align: center;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
#application-form{
  display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.first_row_modal{
    display: flex;
    margin-left: 8%;
}
.second_row_modal{
  display: flex;
 
  margin-left: 8%;
  
}
.form_check{
  position: relative;
    display: block;
    padding-left: 1.25rem;
}
.apply_button {
  background-color: #00bfa5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  border-width: thin;
  border-style: solid;
  width: 228px;
  text-align: center;
  border-radius: 6px;
  border-color: black;
  cursor: pointer;
  height: 56px;
}
.apply_button:hover {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.close_icon {
  position: absolute;
    margin-top: -10%;
    margin-left: 90%;
    width: 5%;
    height: 5%;
    background-color: red;
    font-weight: 700;
    cursor: pointer;
}
.na_me{
  font-size: 20px;
  margin-left: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
.submit_button{
  background-color: #00bfa5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  border-width: thin;
  border-style: solid;
  width: 228px;
  text-align: center;
  border-radius: 6px;
  border-color: black;
  cursor: pointer;
  height: 56px;
  margin-left: 30%;
  margin-top: 10%;
}
.input_p{
   width: 86%;
    height: 30px;
    border-radius: 5%;
    

}

/* .react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 75%;
  height: 57px;
  margin-left: 16%;
  background-color: #C5CAE9;
} */


 .react-multiple-carousel__arrow--left{
  left:calc(0% + 1px);
  } 

/* media query */
@media (max-width: 1024px) {
  /* section one */
  #bannerTextcareer {
    font-size: 35px;
  }
  .tab-content {
    position: relative;
    height: 1050px;
    width: 100%;
}
}
@media (max-width: 768px) {
  /* section one */
  #bannerTextcareer {
    font-size: 24px;
  }
  /* sectiopj three */
  .crau_p {
    font-size: 18px;
  }
  .tab-content {
    position: relative;
    height: 1250px;
    width: 100%;
}
.submit_button {
  width: 173px;
  height: 47px;
  margin-left: 26%;
  margin-top: 7%;
}
.close_icon {
  position: absolute;
  margin-top: -28%;
  margin-left: 81%;
  width: 11%;
  height: 7%;
}
.modal_content {
  width: 64%;
  margin-left: 22%;
  margin-top: -65%;
}
}
@media (max-width: 600px){
  .tab-content {
    position: relative;
    height: 1400px;
    width: 100%;
}
.modal_content {
  width: 70%;
  margin-left: 21%;
  margin-top: -97%;
}
.close_icon {
  margin-top: -20%;
}
.second_row_modal, .first_row_modal{
  flex-direction: column;
  margin-left: 8%;
}
}
@media (max-width: 480px) {
  /* section one */
  #bannerTextcareer {
    font-size: 18px;
  }
  /* section two */
  .des_pera {
    font-size: 12px;
  }
  /* sectiopj three */
  .crau_p {
    font-size: 16px;
  }
  .tab-content {
    position: relative;
    height: 1620px;
    width: 100%;
}
.engineers {
  margin-top: 5%;
  margin-left: 4%;
}
.modal_content {
  width: 73%;
  margin-left: 13%;
  margin-top: -128%;
}
.close_icon {
  margin-top: -32%;
}
}
@media (max-width: 380px) {
  .tab-content {
    position: relative;
    height: 1850px;
    width: 100%;
}
.submit_button {
  width: 130px;
    height: 47px;
    margin-left: 23%;
    margin-top: 9%;
}
.close_icon {
  margin-top: -36%;
}
}
@media (max-width: 320px) {
  #bannerTextcareer {
    font-size: 14px;
  }
}

