.react-multiple-carousel__arrow--right,.react-multiple-carousel__arrow--left{
    color: aliceblue;
    background-color: #00bfa5 ;
}
.react-multi-carousel-dot-list{
margin-top: 10%;
color: #00bfa5;
}