#banner-text {
  color: #00bfa5;
  font-family: "Avenir_heavy";
}
/* Banner.css */
.Banner-text {
  width: 100%;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  line-height: 1.19;
  justify-content: center;
  text-align: center;
  font-family: "Avenir_heavy";
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  opacity: 0.8;
  font-weight: 700;
  font-size: 56px; /* Default font size */
}

.outer-text-of-banner {
  display: flex;
  justify-content: right;
  text-align: center;
  width: 960px;
  white-space: 5px;
  font-size: 18px;
}
.below-banner {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
}

.common-text {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 550;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.common-img {
  width: 50px;
}


.heading-content {

  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-left: 80px;
}
.elats_left {
  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 80px;
  
}
.ECO {
  display: flex;
  margin-left: 80px;
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 3;
  letter-spacing: 2px;
}

.smart-public-toilet-line-container {
  width: 23%;
  margin-left: 85px;
  margin-right: 30px;
  height: 5px;
  color: #00bfa5;
  background-color: #00bfa5;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.PERA_text_form {
  justify-content: right;
  text-align: center;
  width: 390px;
  justify-content: space-around;
  white-space: 5px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.p-text1 {
  width: 490px;
  white-space: 5px;
}

.p-text5 {
  display: flex;
  width: 380px;
  justify-content: space-around;
  height: 70px;
}

p input[name="learn"] {
  margin-left: 5px;
  background-color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  border-width: thin;
  border-style: solid;
  width: 228px;
  text-align: center;
  border-radius: 6px;
  border-color: black;
  cursor: pointer;
  height: 56px;
  font-weight: 550;
}

p input[name="learn"]:hover {
  background-color: #00bfa5;
  text-align: center;
  cursor: pointer;
}


.col-main-content {
  display: flex;
  flex-direction: row; /* Display the items in a row */
  justify-content: space-between; /* Space between content and image */
  align-items: center; /* Vertically center items */
}
.rewater-content{
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 3;
  letter-spacing: 2px;

}

.recycle-line-container {
  width: 25%;
  margin-right:100% ;
  justify-content: right;
  height: 5px;
  color: #00bfa5;
  background-color: #00bfa5;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.elats_right{
  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 50px;

}

.elats_left{
  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 70px;

}

.PERA_text {
  margin-left: 45px;
  white-space: 5px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p input[name="rewater"] {
  margin-left: 60px;
  background-color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  border-width: thin;
  border-style: solid;
  width: 228px;
  text-align: center;
  border-radius: 6px;
  border-color: black;
  cursor: pointer;
  height: 56px;
  font-weight: 550;
}

p input[name="rewater"]:hover {
  background-color: #00bfa5;
  text-align: center;
  cursor: pointer;
}

.col-ecolats-left {
  flex: 1; /* Grow to take available space */
  /* Rest of your styles for the left content */
  /* text-align: right; */
}

.col-ecolats-right {
  flex: 1; /* Grow to take available space */
  text-align: left; /* Align content to the right */
}

.responsive-image {
  max-width: 100%; /* Set maximum width to prevent overflow */
  height: auto; /* Maintain aspect ratio */
}

.recycle-water-heading-content {

  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
  
}

/* Media query for smaller screens */

@media (max-width: 1024px) {
  .Banner-text {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

}
@media (max-width: 768px) {
  .Banner-text {
    font-size: 30px; /* Adjust font size for smaller screens */
  }
  .common-text {
    font-size: 20px; /* Adjust font size for smaller screens */
    font-weight: 500;
    line-height: 1.1;
  }
  .common-img {
    width: 50px;
  }
  .col-main-content {
    flex-direction: column; /* Stack items vertically */
  }

  .col-ecolats-left,
  .col-ecolats-right {
    flex: none; /* Reset flex value to prevent stretching */
  }
  .responsive-image {
    max-width: 100%; /* Set maximum width to prevent overflow */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 480px) {
  .Banner-text {
    font-size: 20px; /* Adjust font size for even smaller screens */
  }
  .common-text {
    font-size: 16px; /* Adjust font size for smaller screens */
    font-weight: 400;
    line-height: 1;
  }
  .common-img {
    width: 30px;
  }
  .elats_right{
    font-size: 20px;
  }
  .elats_left{
    font-size: 20px;
  }
  .PERA_text{
    font-size: 20px;
  }
  .PERA_text_form{
    font-size: 20px;

  }
}